 <div data-controller="users-by-email-auth" class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
  <div>
    <div class="sm:ml-4 sm:mt-0 sm:text-left">
      <div class="flex">
      <div class="flex-none cursor-pointer hover:text-bold" data-modal-target="closeButton">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </div>
      <div class="grow">
        <h3 class="text-sm pr-7 text-center font-semibold leading-6 text-gray-900 mb-4" id="modal-title">Login or Sign up</h3>
      </div>
    </div>  
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="px-2 bg-white text-sm text-gray-500"></span>
        </div>
      </div>              
      <div class="mt-4">
        <h3 class="text-1xl leading-6 text-gray-900  " id="modal-title">Welcome to Airbnb</h3>
      </div>
      <div data-users-by-email-auth-target="emailWrapper" class="relative mt-8 border-gray-300 rounded-md px-3 shadow-sm">
        <label for="email" class="block text-xs font-medium text-gray-900">Email</label>
        <input data-users-by-email-auth-target="email"  type="text" name="Email" id="email" class="w-full block rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 border-red-300 text-red-900 placeholder-red-300 focus:ring-red-500 focus:border-red-500" placeholder="Email">   
        <div data-users-by-email-auth-target="invalidSvg" class="absolute inset-y-0 right-0 mt-3 pr-4 flex items-center pointer-events-none">
          <svg class="h-4 w-4 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
          </svg>
        </div>                
      </div> 
        <p data-users-by-email-auth-target="errorMessage" class="hidden mt-2 text-sm text-red-600" id="email-error">Not a valid email address.</p>
        <div class="px-4 py-3 sm:px-6 w-full">
        <button data-users-by-email-auth-target="submit"   class="w-full mt-3 inline-flex justify-center rounded-md bg-indigo-700 px-3 py-2 text-sm font-semibold text-white shadow-sm airbnb-pink-gradient">Submit</button>                   
      </div>          
    </div>
  </div>
</div>